# .NET
bin/
obj/
*.user
*.suo
.vs/
BackEnd/KeellsBackend/appsettings.Development.json
*.db

# ReactJs
node_modules/
dist/
.env
.env.local

# General
.DS_Store
Thumbs.db
BackEnd/KeellsBackend/appsettings.json 
BackEnd/KeellsBackend/appsettings.Development.json 
